<!DOCTYPE html>

<html data-wf-page="60e78cd29a6063a172d03bcd"
    data-wf-site="60e78cd29a6063dc4dd03bcb" data-wf-status="1" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Login - Imaginary Hub X</title>
    <link
        href="/assests/css/mainstyle.css"
        rel="stylesheet" type="text/css" />
</head>
<body>
    <div style="opacity:0" class="page-wrapper">
        <div data-collapse="medium" data-animation="over-left" data-duration="400"
            data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" data-easing="ease" data-easing2="ease" role="banner"
            class="header w-nav">
            <div class="container-default w-container">
                <div class="header-wrapper">
                    <div class="split-content header-right"><a href="/" aria-current="page"
                            class="brand w-nav-brand w--current">
                           <h3 style="margin: 10px;"> Imaginary Hub X</h3></a>
                        <div class="header-divider"></div>
                        <nav role="navigation" class="nav-menu w-nav-menu">
                            <ul role="list" class="header-navigation">
                                <li class="nav-item-wrapper"><a href="/" aria-current="page"
                                        class="nav-link w--current">Home</a></li>
                                <li class="nav-item-wrapper"><a href="/about" class="nav-link">About</a></li>
                                <li class="nav-item-wrapper"><a href="/allnews" class="nav-link">Past issues</a>
                                </li>
                                <li class="nav-item-wrapper">
                                    <div data-hover="true" data-delay="0"
                                        data-w-id="043ef42a-34a9-1a0f-55ac-1fd10d021335"
                                        class="nav-link-dropdown w-dropdown">
                                        <div class="nav-link dropdown w-dropdown-toggle">
                                            <div>Our Topics <span class="dropdown-arrow"></span></div>
                                        </div>
                                        <nav class="dropdown-list w-dropdown-list">
                                            <div class="dropdown-nav-main-wrapper">
                                                <div class="dropdown-nav-pages-wrapper">
                                                    <div class="title dropdown-nav-title">Topics
                                                       </div>
                                                    <div class="dropdown-nav-content">
                                                        <ul role="list" class="dropdown-nav">
                                                            <li class="dropdown-nav-item"><a href="/allnews"
                                                                    aria-current="page"
                                                                    class="dropdown-nav-link w--current">Tech</a></li>
                                                            <li class="dropdown-nav-item"><a href="/allnews"
                                                                    class="dropdown-nav-link">Fianace</a></li>
                                                            <li class="dropdown-nav-item"><a href="/allnews"
                                                                    class="dropdown-nav-link">Bussiness News</a></li>
                                                        </ul>
                                                        <ul role="list" class="dropdown-nav last">
                                                            <li class="dropdown-nav-item"><a href="/allnews"
                                                                    class="dropdown-nav-link">Education</a></li>
                                                            <li class="dropdown-nav-item"><a href="/allnews"
                                                                    class="dropdown-nav-link tag w-inline-block">
                                                                    <div>Human Pscyology</div>
                                                                    <div class="dropdown-nav-link-tag">Exclusive</div>
                                                                </a></li>
                                                            <li class="dropdown-nav-item"><a
                                                                    href="/allnews"
                                                                    class="dropdown-nav-link tag w-inline-block">
                                                                    <div>Desgin & art</div>
                                                                    <div class="dropdown-nav-link-tag">Exclusive</div>
                                                                </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="dropdown-nav-pages-wrapper last">
                                                    
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </li>
                                <li class="nav-item-wrapper button-mobile"><a href="/subscribe"
                                        class="button-primary header-button mobile w-inline-block">
                                        <div class="newsletter-button-icon"></div>
                                        <div>Subscribe</div>
                                    </a></li>
                            </ul>
                        </nav>
                        <div><a href="/allnews" class="cart-button w-inline-block" role="button">
                                <div class="w-inline-block">Latest Issue</div>
                                
                            </a>
                           
                        </div>
                    </div>
                    <div class="split-content header-left"><a data-w-id="03c57ad5-5287-7bc0-b112-b394ba6fbcd1"
                            href="/writer"
                            class="link-underline-wrapper header-link w-inline-block">
                            <div>Become a Writer</div>
                            <div class="underline-wrapper header-link">
                                <div class="underline"></div>
                            </div>
                        </a><a href="/subscribe" class="button-primary header-button w-inline-block">
                            <div class="newsletter-button-icon header-button"></div>
                            <div>Subscribe</div>
                        </a>
                        <div class="menu-button w-nav-button">
                            <div class="header-menu-button-icon-wrapper">
                                <div class="icon-wrapper">
                                    <div class="header-menu-button-icon-top"></div>
                                    <div class="header-menu-button-icon-medium"></div>
                                    <div class="header-menu-button-icon-bottom"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg header-bg"></div>
        </div>
    <section class="utility-page-wrap">
        <div data-w-id="5e86ada79942c1e4247fd4c700000000000b"
            style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="utility-page-content-password w-password-page w-form">
            <form action="/forgetpass" method="post" id="email-form" name="email-form" data-name="Email Form"
    class="utility-page-form w-password-page" data-wf-page-id="60e78cd29a6063b808d03bce"
    data-wf-element-id="5e86ada79942c1e4247fd4c700000000000c">

    <img src="/assests/svg/lock.svg" alt="" loading="eager"
        class="icons-password-protected" />
    <h2>Protected Password Page</h2>

        <!-- Email Field -->
    <input class="input w-password-page w-input" autofocus="true" maxlength="256" name="email"
    data-name="email" placeholder="Enter your email" type="email" id="email-field" required />
    <br>
    <input type="submit" data-wait="Please wait..." class="button-primary full-width w-password-page w-button"
    value="Reset Password" />


    <div class="error-message w-password-page w-form-fail">
        <div>Incorrect email or password. Please try again.</div>
    </div>


    <div style="display:none" class="w-password-page w-embed w-script">
        <script type="application/javascript">(function _handlePasswordPageOnload() {
                if (/[?&]e=1(&|$)/.test(document.location.search)) {
                    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
                }
            })()</script>
    </div>
</form>
        </div>
        <div class="bg utility-page"></div>
    </section>
    <footer class="footer">
        <div class="container-default w-container">
            <div data-w-id="69754c41-08b9-6ecf-91b8-95942fc59e5b" class="footer-content-top">
                <div class="split-content footer-content-top-main-content"><a href="/" aria-current="page"
                        class="footer-logo-container w-inline-block w--current link-underline-wrapper">
                        <h3 class="footer-logo-container">Imaginary Hub X</h3></a>
                    <p class="paragraph footer-content-top-main-content-paragraph">Get the latest insights and trends delivered straight to your inbox, covering tech, finance, business, education, and psychology.</span>
                    </p>
                </div>
            <div class="divider footer-content-top-divider"></div>
            <div data-w-id="3f15247b-179c-b94a-4019-bc7e40900fba" class="footer-content">
                <div class="footer-menu-main-content">
                    <div class="footer-menu-wrapper">
                        <div class="title footer-menu-title">Useful Links</div>
                        <div class="footer-menu-content">
                            <ul role="list" class="footer-nav w-list-unstyled">
                                <li class="footer-nav-item"><a href="/" aria-current="page"
                                        class="footer-nav-link w--current">Home</a></li>
                                <li class="footer-nav-item"><a href="/about" class="footer-nav-link">About</a></li>
                                <li class="footer-nav-item"><a href="/views/contact.html" class="footer-nav-link">Contact</a>
                                </li>
                                <li class="footer-nav-item"><a href="/allnews"
                                        class="footer-nav-link tag w-inline-block">
                                        <div>Newsletters</div>
                                        <div class="footer-nav-link-tag">ALL</div>
                                    </a></li>
                                <li class="footer-nav-item"><a
                                        href="/allnews"
                                        class="footer-nav-link tag w-inline-block">
                                        <div>Latest issues</div>
                                        <div class="footer-nav-link-tag">Single</div>
                                    </a></li>
                            </ul>
                            <ul role="list" class="footer-nav last w-list-unstyled">
                                <li class="footer-nav-item"><a href="/subscribe"
                                        class="footer-nav-link">Subscribe</a></li>
                                <li class="footer-nav-item"><a
                                        href=""
                                        class="footer-nav-link tag w-inline-block">
                                        <div>Pricing Single</div>
                                        <div class="footer-nav-link-tag">eCommerce</div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-menu-wrapper last">
                    </div>
                </div>
            </div>
                </div>
            </div>
            <div class="divider footer-content-bottom-divider"></div>
            <div data-w-id="4a24e60e-bea5-a418-e416-88b53fbdd0a6" class="footer-content-bottom">
                <div class="footer-small-print">Copyright © Imaginary Hub X | Designed by Jabir Hussain</div>
        </div>
    </footer>
</a>
<script>
    document.documentElement.setAttribute('data-wf-page', '60e78cd29a6063b808d03bce');
    document.documentElement.setAttribute('data-wf-site', '60e78cd29a6063dc4dd03bcb');
    document.documentElement.setAttribute('data-wf-status', '1');
    document.documentElement.setAttribute('lang', 'en');</script>
<script src="/assests/js/page.js" type="text/javascript" ></script>
<script src="/assests/js/main.js" type="text/javascript"></script>
</body>

</html>